@model IEnumerable<Airoport.Models.Client>

<div id="searchresults">

    <h3>Совпадения: @ViewBag.Err </h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>
                <p>
                    @item.Name
                    @item.Surname
                    <a href="/Ticket/Create/@item.Id">  Продать билет</a>
                </p>
            </li>
        }
    </ul>

    <hr />

    <p><a href="/Clients/Create/" class="btn btn-primary btn-lg">Новый клиент</a></p>

</div>
