
@model IEnumerable<Airoport.Models.City>


<div id="searchresults">
    <h3>Все схожие люди : </h3>
    <ul>
        @foreach (var item in Model)
        {
            <li>@item.Name</li>
        }
    </ul>
</div>