@using Airoport.Models;
@model IEnumerable<Client>

@{
    ViewBag.Title = "SearchClient";
}

<div>
    @using (Ajax.BeginForm("PartialClientInSearch", new AjaxOptions { UpdateTargetId = "searchresults", InsertionMode = InsertionMode.InsertAfter }))
    {
        <p></p>
        <p>
            <input type="text" name="Surname" />
            <input type="text" name="Name" />
            <input type="submit" value="Поиск" />
        </p>

    }
    @section Scripts {
        @Scripts.Render("~/scripts/validate.min.js")
    }
    <div id="searchresults"></div>
</div>

@Scripts.Render("~/scripts/jquery-1.10.2.min.js")
@Scripts.Render("~/scripts/jquery.unobtrusive-ajax.min.js")

