@model IEnumerable<Airoport.Models.City>
@{
    ViewBag.Title = "About";
}

<h3>@ViewBag.Message</h3>



<div>
        <table>
            </tr>
            @foreach (var b in ViewBag.Cities)
            {
            <tr>
                <td><p>@b.Name</p></td>
            </tr>
            }
        </table>
</div>
