@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Лучшая авиакомпания </h1>
    <p><a href="/Test/SearchClient/" class="btn btn-primary btn-lg">Продать билетик</a></p>
    <p><a href="/Test/RegistrationClient/" class="btn btn-primary btn-lg">Зарегистрировать пассажир</a></p>
</div>
