@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Лучшая авиакомпания БелСветВёз</h2>

    <p><a href="/Clients/SearchClient/" class="btn btn-primary btn-lg">Продать билетик</a></p>

    <p>
        @Html.RouteLink("Зарегистрировать пассажир",
     new { controller = "Clients", action = "SearchClient", config = "registry" },
     new { @class = "btn btn-primary btn-lg" })
    </p>

    <p>
        @Html.RouteLink("Сдать билет",
     new { controller = "Clients", action = "SearchClient", config = "return" },
     new { @class = "btn btn-primary btn-lg" })
    </p>

    <p>
        @Html.ActionLink("ErrList", "ExceptionLogger", "Home", new { @class = "btn btn-primary btn-lg" })
    </p>
</div>

<p> @ViewBag.Count довольных клиентов</p>

