@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Лучшая авиакомпания БелСветВёз</h1>
    <p><a href="/Clients/SearchClient/" class="btn btn-primary btn-lg">Продать билетик</a></p>
    <p><a href="/Client/RegistrationClient/" class="btn btn-primary btn-lg">Зарегистрировать пассажир</a></p>
    <p><a href="/Client/RegistrationClient/" class="btn btn-primary btn-lg">Вернуть билетик</a></p>
</div>
