@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Лучшая авиакомпания БелСветВёз</h2>

    <p><a href="/Clients/SearchClient/" class="btn btn-primary btn-lg">Продать билетик</a></p>

    @Html.RouteLink("Зарегистрировать пассажир",
    new { controller = "Clients", action = "SearchClient", config = "registry" },
    new { @class = "btn btn-primary btn-lg" })

    @Html.RouteLink("Сдать билет",
    new { controller = "Clients", action = "SearchClient", config = "return" },
    new { @class = "btn btn-primary btn-lg" })
    
</div>

